{% extends 'top_menu.html' %}
{% block content %}
    <div class="double-penis">
        <div class="pages">
            <nav>
                <a href="#">Тут будет текст в 6 слов</a>
                <a href="#">Страница 2</a>
                <a href="#">Страница 3</a>
                <a href="#">Страница 4</a>
                <a href="#">Страница 5</a>
                <a href="#">Страница 6</a>
                <a href="#">Страница 7</a>
                <a href="#">Страница 8</a>
                <a href="#">Страница 9</a>
                <a href="#">Страница 10</a>
                <a href="#">Тут будет текст в шесть слов</a>
                <a href="#">Страница 2</a>
                <a href="#">Страница 3</a>
                <a href="#">Страница 4</a>
                <a href="#">Страница 5</a>
                <a href="#">Страница 6</a>
                <a href="#">Страница 7</a>
                <a href="#">Страница 8</a>
                <a href="#">Страница 9</a>
                <a href="#">Страница 10</a>
            </nav>
        </div>

{% block left_menu %}{% endblock %}
    </div>
{% endblock %}