{% extends 'top_menu.html' %}
{% block content %}
{{ super() }}
    <div class="double-penis">
        <div class="pages">
            <nav>
                <a href="/chapter{{chapter}}/page1">Тут будет текст в 6 слов</a>
                <a href="/chapter{{chapter}}/page2">Страница 2</a>
                <a href="/chapter{{chapter}}/page2">Страница 3</a>
                <a href="/chapter{{chapter}}/page2">Страница 4</a>
                <a href="/chapter{{chapter}}/page2">Страница 5</a>
                <a href="/chapter{{chapter}}/page2">Страница 6</a>
                <a href="/chapter{{chapter}}/page2">Страница 7</a>
                <a href="/chapter{{chapter}}/page2">Страница 8</a>
                <a href="/chapter{{chapter}}/page2">Страница 9</a>
                <a href="/chapter{{chapter}}/page2">Страница 10</a>
                <a href="/chapter{{chapter}}/page2">Тут будет текст в шесть слов</a>
                <a href="/chapter{{chapter}}/page2">Страница 2</a>
                <a href="/chapter{{chapter}}/page2">Страница 3</a>
                <a href="/chapter{{chapter}}/page2">Страница 4</a>
                <a href="/chapter{{chapter}}/page2">Страница 5</a>
                <a href="/chapter{{chapter}}/page2">Страница 6</a>
                <a href="/chapter{{chapter}}/page2">Страница 7</a>
                <a href="/chapter{{chapter}}/page2">Страница 8</a>
                <a href="/chapter{{chapter}}/page2">Страница 9</a>
                <a href="/chapter{{chapter}}/page2">Страница 10</a>
            </nav>
        </div>

{% block left_menu %}{% endblock %}
    </div>
{% endblock %}